html,body{
  padding: 0 !important;
  max-width: 100%;
  max-height: 100%;
  margin:0;
}
#box{
  width: 1270px;
  height:593px;
  border-radius: 2px;
  border: #50c9c3 solid;
  }

  .position-absolute {
    position: absolute !important;
    backdrop-filter: blur(6px);
  }

  .swal2-popup {
    font-size: 1rem !important;
    font-family: Georgia, serif;
  }
#iso{
 width: 80px !important;
}
#comp{
 padding-left: 38px;
}
  #powersupply {
   position: absolute;
   background-color: #FFFACD;
    border: 1px solid;
   width: 200px;
   visibility: hidden; 
   margin-left: 105px;
    margin-top: -288px;
 }
 #rom{
  margin-top: -250px;
  margin-left: 80px;
  width: 1000px;
  
  position: absolute;
}
#rom1{
  height: 420px;
  width: 1000px;
}
 #block1{
   width: 10px;
   height: 12px;
   position: absolute;
   margin-left: 120px;
 }
 #block2{
  width: 10px;
  height: 12px;
  position: absolute;
  margin-left: 200px;
}
#block3{
  width: 10px;
  height: 12px;
  position: absolute;
  margin-left: 280px;
}
#block4{
  width: 10px;
  height: 12px;
  position: absolute;
  margin-left: 400px;
}
 #space {
  height: 150px; 
  margin-top: -233px;
  margin-left: 820px;
 width: 255px;
 visibility: hidden; 
  position: relative;
}
#space1 {
   
  padding: 2px;
  border: 1px solid black;
 width: 255px;
 visibility: hidden; 
  
}
 
.heading5{
   text-align: center;
   font-size: 15px;
   margin: 8px;
}
.heading4{
  text-align: center;
  font-size: 10px;
}
#but{
  margin-top: 120px;
  margin-left: 250px;
}
#gg{
  display: inline-block;
margin-top: -100px;
border-right: solid 0.5px #50c9c3;
opacity: 0;
height: 575px;
margin-left: -11px;
width: 250px;
visibility: hidden;
transition:all 1s ease-in-out;
}
#images1{
  visibility: hidden;
    opacity: 0;
    transition: all 1.5s ease-in-out;
  display: none;
}
#headingg1{
  width: 240px;
  height: 28px;
  padding-bottom: 0;
} 
.imgr{
  border-bottom: 2px solid #50c9c3;
}
#hhhh{
  margin: 0;
}
#rtable{
  padding-left: 38px;
 height: 300px;
 
}
#ctab{
  margin-top: 12px;
  margin-left: 50px;
  }
#rrtable {
  border-collapse: collapse;
 
}

#rrtable th, #rrtable td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

#rrtable tr:nth-child(even) {
  background: #ffaaa5;
}
#exph{
  margin-top: -103px;
  margin-left: -3px;
 padding-left: 10px;
 width: 1260px;
 padding-top: 1px;
 padding-bottom: 1px;
 background-image: linear-gradient(#96deda, #50c9c3);
  box-shadow: 0 8px 6px -6px black;
}
#expm{
  font-size: 27px;
}

#headingg{
  width: 150px;
  height: 28px !important;
  padding-right: 6px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
} 




p {
font-family: Helvetica, Arial, Sans-serif;
text-align: center;
color: #0f69cd;
}

#jog_dial_one,#jog_dial_two {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 5px auto;
  background: #0f69cd;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
} 
#jog_dial_3,#jog_dial_4,#jog_dial_5,#jog_dial_6{
  position: relative;
  width: 20px;
  height: 20px;
  margin: 5px auto;
  background: #0f69cd;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
} 
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}
#watermark{
  margin-left: 205px;
  background-color: transparent;
   
    color: black; 
    
    border:none;
    font-size: 15px;
}
.carousel{position:relative; margin-left:238px; }.carousel.pointer-event{-ms-touch-action:pan-y;touch-action:pan-y}.carousel-inner{margin-top: 1px; margin-right: 20px; margin-left: 6px; color: white; background-color: black; margin-bottom: 2px; margin-top: 2px;  position:relative;overflow:hidden}.carousel-inner::after{display:block;clear:both;content:""}.carousel-item{position:relative;display:none; float: right;
  width:80%;margin-left:-100%; -webkit-backface-visibility:hidden;backface-visibility:hidden;transition:-webkit-transform .6s ease-in-out;transition:transform .6s ease-in-out;transition:transform .6s ease-in-out,-webkit-transform .6s ease-in-out}@media (prefers-reduced-motion:reduce)
{.carousel-item{transition:none;width:990px;
  height:20.97px; }}.carousel-item-next,.carousel-item-prev,
.carousel-item.active{display:block;width:970px;
  height:20.97px; margin-top: 1px; margin-bottom: 1px; }.active.carousel-item-right,.carousel-item-next:not(.carousel-item-left){-webkit-transform:translateX(80%);transform:translateX(100%)}.active.carousel-item-left,.carousel-item-prev:not(.carousel-item-right){-webkit-transform:translateX(100%);transform:translateX(100%)}.carousel-fade .carousel-item{opacity:0;transition-property:opacity;-webkit-transform:none;transform:none}.carousel-fade 
            .carousel-item-next.carousel-item-left,
            .carousel-fade .carousel-item-prev.carousel-item-right,
            .carousel-fade .carousel-item.active{z-index:1;opacity:1}.carousel-fade
             .active.carousel-item-left,.carousel-fade .active.carousel-item-right{z-index:0;opacity:0;transition:opacity 0s .6s}@media (prefers-reduced-motion:reduce){.carousel-fade .active.carousel-item-left,.carousel-fade .active.carousel-item-right{transition:none}}
             .carousel-control-next,.carousel-control-prev{position:absolute;top:0;bottom:0;z-index:1;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;width:15%;color:#fff;text-align:center;opacity:.5;transition:opacity .15s ease}@media (prefers-reduced-motion:reduce){.carousel-control-next,.carousel-control-prev{transition:none}}
             .carousel-control-next:focus,.carousel-control-next:hover,
             .carousel-control-prev:focus,.carousel-control-prev:hover{color:black;text-decoration:none;outline:0;opacity:.9}
             .carousel-control-prev{left:-60px}.carousel-control-next{right:0}.carousel-control-next-icon,.carousel-control-prev-icon{display:inline-block;width:20px;height:20px;background:no-repeat 50%/100% 100%}.carousel-control-prev-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e")}
             .carousel-control-next-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") }
             .sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;overflow:visible;clip:auto;white-space:normal}.shadow-sm{box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important}.shadow{box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important}

#help{
  background-color: transparent;
   
    color: black; 
    
    border:none;
    font-size: 20px;
    cursor: pointer;

}
#vv{
  margin-top: -370px;
  margin-left: 470px;
  padding-right: 4px ;
  padding-left: 10px ;
  background-image: linear-gradient(#96deda, #50c9c3);
  position: absolute;
  color: black; 
  width: 240px;
  font-size: 20px;
}
#volt{
  margin-top: -155px;
  margin-left: 80px;
  padding-right: 4px ;
  padding-left: 4px ;
  width: 90px;
  background-color: #50c9c3;
  color: white;
}
#jog_dial_one_knob,#jog_dial_two_knob{
  background: #95c7ff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;

}
#jog_dial_3_knob,#jog_dial_4_knob,#jog_dial_5_knob,#jog_dial_6_knob{
  background: #95c7ff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}

#jog_dial_one_meter,#jog_dial_two_meter {
width: 200px;
height: 10px;
margin: 20px auto 30px;
background: #95c7ff;
overflow: hidden;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
}

#jog_dial_one_meter div, #jog_dial_two_meter div {
position: relative;
width: 15%;
background: #0f69cd;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: block;
    width: 30px;
    height: 18px;
    margin-left: 20px;
  }
  #container{
    visibility: hidden;
  }
  /* .ss{
  width: 20px;
  text-align: center;
  }
   */
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 11px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }





.dial{
   display: inline-block;
   padding: 0 !important;
}
#voltage{
  width: 48px;
  height: 84px;
  padding: 0;
}
#voltage1{
  width: 48px;
  
  padding: 0;
}

#name{
  margin-left: 70px;
 margin-top: 0;
 margin-bottom: 0;

}

.exampleContainer {
     width: 150px;
    height: 40px; 
  margin: auto;
    margin-top: 5px;
    margin-bottom: 0;
}
#ss{
  width: 1000px !important;
  padding: 0;
}
#stand{
  padding-bottom: 0px;
  width: 470px;
  height: 48.5px;
margin-left: 315px ;
visibility: hidden;

padding: 0;
z-index: 1;
position: relative;
}
#div1{
margin-bottom: 0px !important;
padding: 0;
width: 130px;
height: 70px;
margin-left: 310px;
z-index: 6;
margin-top: -56px;
position: absolute;
display: inline-block
}
#div2{
  margin-bottom: 0px !important;
  padding: 0;
  width: 130px;
  height: 70px;
  margin-left: 420px;
  z-index: 6;
  margin-top: -54px;
  position: absolute;
  display: inline-block
  }
  #div6{
    margin-bottom: 0px !important;
    padding: 0;
    width: 130px;
    height: 70px;
    margin-left: 735px;
    z-index: 6;
    margin-top: -10px;
    position: absolute;
    display: inline-block
    }
    #grpwrap{
      margin-top: -131px;
      position: absolute;
      margin-left: 840px;
      visibility: hidden;
    }
    #grpwrap:hover {
      -ms-transform: scale(1.9); /* IE 9 */
      -webkit-transform: scale(1.9); /* Safari 3-8 */
      transform: scale(1.9); 
    }
    #prop{
      display: none
    }
    #div0{
      margin-bottom: 0px !important;
      padding: 0;
      width: 130px;
      height: 70px;
      margin-left: 558px;
      z-index: 6;
      margin-top: -73px;
      position: absolute;
      display: inline-block
      }
  .mainn{
    display: inline-block;
    margin-top: 100px;
  }
  #V2{
  
  
    border:none;
    border-bottom:1px solid #ccc;
    width: 30px;

   }
  #div3{
    margin-bottom: 0px !important;
    padding: 0;
    width: 130px;
    height: 70px;
    margin-left: 525px;
    z-index: 6;
    margin-top: -62px;
    position: absolute;
    display: inline-block
    }
    .exp{
      margin-top: -230px;
      padding-left: 165px;
      width: 1050px;
      margin-left: 0px;
    
    }
    hr{
      border-top: 1px solid #50c9c3;
       margin-top: 2px;
       margin-bottom: 0px;
       margin: auto;
       
    }
    #div4{
      margin-bottom: 0px !important;
      padding: 0;
      width: 130px;
      height: 70px;
      margin-left: 600px;
      z-index: 6;
      margin-top: -14px;
      position: absolute;
      display: inline-block
      }

#main{
display: inline-block 
}
#table55{
  margin-top: 0;
  width : 750px;
   height:100px;
   margin-left: 80px;
   position: relative;
}
#images{
  visibility: hidden;
  opacity: 0;
  transition: all 1.5s ease-in-out;
}

.demo {
  /* for IE10+ touch devices */
  touch-action:none;
}
/** JSPLUMB ARTEFACTS **/
.jtk-overlay {
  z-index: 51;
}

.jtk-endpoint {
  z-index: 50;
  cursor: move;
}

.jtk-connector {
  z-index: 1;
}

/** ELEMENTS **/
.littledot
{
  cursor: pointer;
  width: 12px;
  height: 12px;
  background-image: url(../images/littledot.png);
  z-index: 5;
  position: absolute;
  border-radius: 31px;
}

.bigdot
{
  cursor: pointer;
  width: 12px;
  height: 12px;
  background-image: url(bigdot.png);
  z-index: 5;
  position: absolute;
  border-radius: 31px;
}

.bigdot-hover-hover {
  border: 2px solid orange;
}

.littledot-hover-hover {
  border: 2px solid orange;
}

.dropHover {
  border: 1px solid orange;
}
.button{
background-color: #4CAF50; 
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}

/** ELEMENT POSITIONS **/
#ld1 {
  top: 22.3em;
  left: 33em;
  color: red;
}

#ld2 {
  top: 22.2em;
  left: 58.8em;
  color: red;
}
#con{
  visibility: hidden;
}
#ld3 {
  top: 27.5em;
  left: 30em;
}
#croi{
  display: block;
  max-width: 100%;
  max-width: 100%;
}

#ld4 {
  top: 14.9em;
  left: 26.5em;
  color: red;
}

#ld5 {
  top: 24.4em;
  left: 64.4em;
  color: red;
}
#ld6 {
  top: 14.3em;
  left: 47.3em;
}

button {
  background-color: white; 
  color: black; 
  border: 2px solid #50c9c3;
  margin-left: 20px;
  padding: 5px;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

input[type=button]{
  background-color: white; 
  color: black; 
  border: 2px solid #50c9c3;
  margin-left: 20px;
  padding: 5px;
}

input[type=button]:hover {
background-color: #50c9c3;
color: white;
}

input[type=button]:disabled {
opacity: 0.6;
cursor: not-allowed;
}
#next,#reset,#print,#manual{
  padding-right: 15px ;
  padding-left: 15px;
}
#readin{
 margin: auto;
}
#readin tr:nth-child(even){background-color: #50c9c3}
button:hover {
  background-color: #50c9c3;
  color: white;
}
#readin td{
padding: 12px;
}
#readin1{
  margin: auto;
  margin-top: 5px;
}
 #V4{
  
  
  border:none;
  border-bottom:1px solid #ccc;
  width: 30px;

 }
 #addto{
   padding-top: 10px;
   padding-left: 50px;
 }
 #readin1 td{
 padding: 3px;
 }
 .main-footer
 {
   width: 1276px;
   background-color: #50c9c3;
 }

path, .jtk-endpoint {
  cursor: pointer;
}